.item-img {
    height: 200px;
    width: 200px;
}

.title {
    font-weight: 800;
}

.cart-item {
    list-style: none;
    display: flex;
}

.add-remove {
    display: flex;
}

.fa-shopping-cart {
    width: 30px;
    height: 30px;
}