.product-component {
  min-height: 82vh;

  .card-image img {
    height: 80%;
    width: 80%;
    position: relative;
  }

  .card {
    border: none;
    margin-bottom: 100px;

    h3 {
      text-align: right;
    }
  }

  .product-header,
  .card-title,
  .card h3 {
    font-weight: 900;
    padding: 50px 0;
    color: #f87428;
  }

  .product-image {
    border-radius: 50px;
  }

  .add-to-cart-button {
    bottom: 0;
    right: 5%;
    display: block;
  }
}

@media (max-width: 767px) {
  .product-component {
    text-align: center;

    .card h3 {
      text-align: center;
    }

    .add-to-cart-button {
      right: 50%;
    }
  }
}
