.selector-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  height: 100%;
  width: 30%;
  border: 1px solid #000;
}

.page-numbers {
    list-style: none;
    display: flex;
  }
  
  .page-numbers > li {
    margin-right: 0.3em;
    color: blue;
    user-select: none;
    cursor: pointer;
  }

  .selector-btn{
    height: 50px;
    width: 150px;
    margin: 10px;
  }

  input {
    height: 30px;
    width: 30px;
  }