.cart-icon {
  margin: 35px 35px 0 0;
  height: 30px;

  @media not all and (hover: none) {
    &:hover .cart-counter {
      background: #ccc;
    }
  }

  @media not all and (hover: none) {
    &:hover .fa-shopping-bag {
      color: #f87428;
    }
  }

  .cart-counter {
    width: 20px;
    height: 20px;
    background: #f87428;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    transform: translate(15px, -15px);
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-weight: 800;
  }

  .fa-shopping-bag {
    color: #ccc;
    font-size: 35px;
    display: block;
  }
}
