.cart-icon {
    position: absolute;
    top: 30px;
    right: - 15px;

    .fa-shopping-bag {
        color: #ccc;
        font-size: 35px;
    }

    .cart-counter {
        width: 20px;
        height: 20px;
        background:  #f87428;
        border-radius: 50%;
        line-height: 20px;
        text-align: center;
        transform: translate(15px, -10px);
        text-decoration: none;
        font-size: 14px;
        color: #fff;
        font-weight: 800;
    }
}

@media(max-width: 767px) {
    .fa-shopping-bag {
       margin-right: 10%;
    }
}