.product-component {
  min-height: 82vh;

  .card-image img {
    height: 80%;
    width: 80%;
    position: relative;
  }

  .card {
    border: none;
    margin-bottom: 100px;

    & h3 {
      text-align: right;
    }
  }

  .product-header,
  .card-title,
  .card h3 {
    font-weight: 900;
    padding: 50px 0;
    color: #f87428;
  }

  .product-image {
    border-radius: 50px;
  }

  .add-to-cart-button {
    bottom: 0;
    right: 0;
    display: block;
  }
}
