.selector-component {
  padding-top: 100px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

  .selector-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40px;
  }

  .menu {
    text-transform: uppercase;
    color: #959595;
    margin-top: 8px;
    width: 140px;
  }

   .selector-btn {
    height: 40px;
    color: #cab6b6;

    @media not all and (hover: none) {
      &:focus,
      &:active,
      &:hover {
        color: #f87428;
      }
    }
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .line {
    border-bottom: 1px solid #ccc;
    transform: translateY(10px);
    width: 150px;
  }

  input {
    height: 20px;
    width: 20px;
    margin-right: 10px;

    &[type="checkbox"]:checked + label {
      color: #f87428;
    }
  }

  .input-item {
    display: flex;
    height: 40px;
    width: 160px;
    p {
      line-height: 40px;
    }
  }
}

@media (max-width: 576px) {
  .selector-component {
    margin: 0 auto;
    text-align: center;
  }
}