.contact-container {
  padding-top: 50px;
  min-height: 83vh;
  color: #9c9b9b;
  text-align: center;

  .form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;

    & .name,
    .lastname,
    .email,
    .contact-area {
      width: 100%;
      height: 50px;
      margin-bottom: 20px;
      border-radius: 10px;
      padding-left: 20px;
      border: 1px solid #f87428;
    }

    & .contact-area {
      padding-top: 15px;
      height: 100%;
    }

    & .send-btn {
      border: 1px solid #f87428;
      background: #fff;
      height: 50px;
      width: 150px;
      border-radius: 10px;
      color: #f87428;
      display: block;
      margin: 0 auto;

      @media not all and (hover: none) {
        &:hover {
          background: #ffd9c3;
          color: rgb(90, 86, 86);
        }
      }
    }
  }
}
