.products-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding-top: 50px;

  .card {
    width: 300px;
    margin: 20px;
    box-shadow: 0px 0px 67px -25px #ccc;
    border-radius: 25px;
    background: rgb(238, 238, 238);
    color: #f87428;
    text-align: center;

    & h6 {
      color: #000;
      font-weight: 900;
      margin-top: 10px;
    }

    @media not all and (hover: none) {
      &:hover {
        box-shadow: inset 0px 0px 0px 2px #f87428;
        z-index: 3;
      }
    }

    @media not all and (hover: none) {
      &:hover .products-list-button {
        display: inline-block;
      }
    }
  }

  .card-image img {
    height: 300px;
    width: 296px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-size: cover;
    background-position: center;
    padding: 2px;
    position: relative;
  }
}

.products-list-button {
  background: orange;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  border: none;
  z-index: 3;
  bottom: 3%;
  right: 27%;
  display: none;
  box-shadow: inset 0px 0px 0px 2px #f87428;

  @media not all and (hover: none) {
    &:hover {
      color: #fff;
    }
  }
}

.App ul {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 576px) {
  .products-container {
    justify-content: center;
  }
}
