
.card-image img {
    height: 300px;
    width: 300px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-size: cover;
    background-position: center;
    padding: 2px;
   
}


.products-list-button {
    background: orange;
    border: 2px solid rgb(179, 108, 108);
    border-radius: 8px;
    padding: 0 10px;
    position: absolute;
    top: 60%;
    right: 5%;
    display: none;
}

.card {
    margin: 20px;
    box-shadow: 0px 0px 67px -25px #ccc;
    border-radius: 25px;
    background: rgb(238, 238, 238);
    &:hover .products-list-button{
        display: inline-block;
    }
}



ul li:last-child {
    font-size: 20px;
}

.fas {
    height: 20px;
    width: 20px;
    background: red;
}

.arrow-left, .arrow-right {
    height: 20px;
    width: 20px;
    columns: green;
}

.card-image {
    text-align: center;
}

/*
<Fragment>
    <ul>
        <li class="arrow-left" ><i class="fas fa-arrow-left"></i></li>
        {pageNumbers.map((pageNumber, index)=>{
            index === 0 ? pageOffset = offset : pageOffset += rows;
            let payload = {offset: pageOffset, rows: rows, currentPage: pageNumber + 1};
            return (
                <li style={{display: "inline", padding: "5px"}} key={pageOffset}><button onClick={()=>{getPageData(payload)}} className={props.buttonCssClass}>{pageNumber + 1}</button></li>
            )
        })}
        <li style={{display: "inline", padding: "5px"}}>Page: {currentPageNumber} of {Math.ceil(pages)}</li>
        <li class="arrow-right" ><i class="fas fa-arrow-right"></i></li>
    </ul>
</Fragment>
*/