a,
a:visited {
  color: #9c9b9b;

  @media not all and (hover: none) {
    &:hover {
      color: #f87428;
    }
  }
}

a.active {
  color: #f87428;
}

nav a {
  margin: 10px;
}

.navbar-component {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-top: 20px;
  z-index: 3;
}

.menu {
  font-weight: 900;
  font-size: 15px;
}

@media (max-width: 767px) {
  .navbar-component {
    justify-content: center;
    width: 50%;

    & .menu {
      text-align: center;
      padding: 20px;
      background: white;
      box-shadow: 0px 0px 67px -25px #ccc;
      border-radius: 25px;
    }
  }
}
