a, a:visited {
  color: #9c9b9b;

  &:hover{
    color: #f87428;
  }
}

a.active {
  color: #f87428;
}

nav a {
  margin: 10px;
}

.navbar-component {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.menu {
  font-weight: 900;
  font-size: 15px;
}

@media(max-width: 767px) {
  .navbar-component {
    justify-content: center;
  }
}