.home-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 84vh;
}

@media(max-width: 576px) {
    .home-container {
      flex-direction: column;
    }

  }
