.header-component {
    display: flex;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 3;
    height: 100px;
}

.logo-image {
    margin: 15px;
    height: 70px;
    width: 70px;
    background-image: url('../../Assets/images/logo-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }