.header-component {
  position: sticky;
  top: 0;
  background: #fff;
  height: 100px;
  z-index: 5;

  .header-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .logo-image {
    margin: 15px 0;
    height: 70px;
    width: 70px;
    background-image: url("../../assets/images/logo-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}