a {
  color: #959595;
  margin-top: 30px;
  margin-right: 20px;

  @media not all and (hover: none) {
    &:focus,
    &:active,
    &:hover {
      color: #f87428;
    }
  }
}

.navbar-component {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  z-index: 3;
}

.menu {
  font-weight: 900;
  font-size: 15px;
}

@media (max-width: 767px) {
  .navbar-component {
    justify-content: center;
    width: 100%;

    .menu {
      text-align: center;
      padding: 20px;
      background: white;
      box-shadow: 0px 0px 67px -25px #9c9b9b;
      border-radius: 25px;

      a {
        height: 25px;
      }
    }
  }
}